<footer class="footer bg-dark py-3 mt-auto">
    <div class="container d-flex flex-row justify-content-center align-items-center">
        <a class="me-3 text-decoration-none" href="https://github.com/Hephaest/YelpCamp">
            <span class="iconify" data-icon="bx-bxl-github" data-inline="false" data-width="32" data-height="32" style="color:white"></span>
        </a>
        <span class="text-muted">&copy; Miao Cai 2021</span>
    </div>
</footer>